{% load static %}

<link rel="stylesheet" href="{% static 'style.css' %}">

<h1>Django Tutorial</h1>

{% for feature in features%}

<table border="2">
    <tr>
      <!-- <td><b>Feature from Loop </b></td> -->
      <td><b>Feature from Database </b></td>
      <td>{{feature.name}}</td>
      <td>{{feature.id}}</td>
      <td>{{feature.details}}</td>
      <!-- {% if feature.is_true == True %}
      <td>This is True</td> 
    </tr>
  </table>
  {% endif %}-->
 <br>
  {%if feature.name == 'Quick' %}
  <p>This feature says Quick !!!! </p>
  {% endif %}
  {% endfor %} 
  <br>
<h3>
    <!-- How are you doing today {{name}} -->
   
   How are you {{name}} <br> 
    You are {{age}} years old <br> 
    {{nationality}} is your nationality

</h3>
<h1>Input your text below</h1>
<form method="POST" action="counter">
    {% csrf_token %}
    <textarea name="word" rows="25" cols="100"></textarea><br>
    <input type="submit">

</form>

